html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: $dark;
  font-size: 1.5vh;
  @media screen and (min-width: 400px) and (max-width: 767px){
    font-size: 2.5vh;
  }
}

h1 {
  color: inherit;
  font-family: 'Raleway Dots', 'Arial', sans-serif;
  font-size: 5rem;

  @media screen and (min-width: 400px) and (max-width: 767px){
    font-size: 3.5rem;
  }
}

h2 {
  color: inherit;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 3rem;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 2.25rem;
  }
}

h3 {
  color: inherit;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 2rem;
}

h4 {
  color: inherit;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: $salmon;
  &:hover {
    color: $pink;
  }
}

@mixin clearfix {
  clear: both;
}
