html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: $dark;
  font-size: 1.5vh;

  //mobile fix
  @media screen and (max-width: 419px){
    font-size: 10px;
  }

  @media screen and (min-width: 420px) and (max-width: 767px){
    //font-size: 2.5vh;
    font-size: 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 1020px) and (min-height: 600px){
    font-size: 1.75vh;
  }

  @media screen and (min-width: 500px) and (max-width: 767px) and (min-height: 600px){
    font-size: 1.25vh;
  }
}

h1 {
  color: inherit;
  font-family: 'Raleway Dots', 'Arial', sans-serif;
  font-size: 5rem;

  //mobile fix
  @media screen and (max-width: 419px){
    font-size: 3.5rem;
  }

  @media screen and (min-width: 420px) and (max-width: 767px){
    font-size: 3.5rem;
  }
}

h2 {
  color: inherit;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 3rem;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 2.25rem;
  }
}

h3 {
  font-family: 'Raleway', 'Arial', sans-serif;
  text-transform: uppercase;
	font-size: 1.5rem;
	color: $salmon;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 1.25rem;
  }
}

h4 {
  color: inherit;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: $salmon;
  &:hover {
    color: $pink;
  }
}

@mixin clearfix {
  clear: both;
}
