$pink: #CDB7C2;
$taupe: #807178;
$salmon: #CC6475;
$royal: #803E49;
$dark: #333333;
$light: #CCCCCC;

html,
body,
.content-wrapper {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: $dark;
}

h1 {
  color: inherit;
  font-family: 'Raleway Dots', 'Arial', sans-serif;
}

h2, h3 {
  color: inherit;
  font-family: 'Raleway', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: $salmon;
  &:hover {
    color: $pink;
  }
}

@mixin clearfix {
  clear: both;
}


  
