$contrastSecondary: #CE2000;
$darkSecondary: #374573;
$contrast: #F14020;
$darkTertiary: #32204F;
$dark: #030b28;
$light: #D9D9D9;

.contrast-secondary {
  background-color: $contrastSecondary;
  color: $dark;
}

.dark-secondary {
  background-color: $darkSecondary;
  color: $light;
}

.contrast {
  background-color: $contrast;
  color: $light;
}

.dark-tertiary {
  background-color: $darkTertiary;
  color: $light;
}

.dark {
  background-color: $dark;
  color: $light;
}

.light {
  background-color: $light;
  color: $dark;
}

.lighter {
  background-color: lighten($light, 10%);
  color: $dark;
}