.full-height {
	height: 100%;
	@media screen and (max-width: 767px) {
		height: auto;
	}
}

.height-extended {
	min-height: 100%;
	position: relative;
}

.third-height {
	height: 33.33%;
}

.no-gutter {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

.intro-box {
	display: block;
	box-sizing: border-box;
	padding-top: 20%;
	padding-left: 8%;
	padding-right: 6%;
	padding-bottom: 5%;
	position: relative;
	@media screen and (min-width: 768px) and (max-width: 991px) {
		padding-left: 2%;
		padding-right: 3%;
		padding-top: 40%;
	}

	@media screen and (min-width: 420px) and (max-width: 767px){
		padding-top: 10%;
	}

	@media screen and (min-width: 500px) and (max-width: 767px) and (min-height: 600px){
		padding-top: 15%;
	}
}

#introduction,
#skills,
#portfolio,
#experience,
#contact {
	height: 100%;
	display: block;
	position: relative;
	@media screen and (max-width: 767px) {
		height: auto;
	}
}

[class*="-intro"] {
	position: relative;
}

[class*="-items"]:not(.works-items) {
	padding-top: 4rem;
	padding-bottom: 4rem;
}


.pink {
	background-color: $pink;
	color: $dark;
}

.taupe {
	background-color: $taupe;
	color: $light;
}

.salmon {
	background-color: $salmon;
	color: $light;
}

.royal {
	background-color: $royal;
	color: $light;
}

.dark {
	background-color: $dark;
	color: $light;
}

.light {
	background-color: $light;
	color: $dark;
}

.lighter {
	background-color: lighten($light, 18%);
	color: $dark;
}
