.full-height {
	height: 100%;
	@media screen and (max-width: 991px) {
		height: auto;
	}
}

.height-extended {
	min-height: 100%;
	position: relative;
}

.third-height {
	height: 33.33%;
}

.no-gutter {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

.intro-box {
	box-sizing: border-box;
	padding-left: 8%;
	padding-right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	@media screen and (min-width: 768px) and (max-width: 991px) {
		padding-left: 2%;
		padding-right: 3%;
		padding-top: 10%;
		padding-bottom: 5%;
	}

	@media screen and (min-width: 768px) and (max-width: 1020px) and (min-height: 600px){
        padding-top: 10%;
		padding-bottom: 5%;
    }

	@media screen and (min-width: 360px) and (max-width: 767px){
		padding-top: 10%;
		padding-bottom: 5%;
	}

	@media screen and (min-width: 360px) and (max-width: 767px) and (min-height: 600px){
		padding-top: 18%;
		padding-bottom: 5%;
	}
}

#introduction,
#skills,
#portfolio,
#experience,
#contact {
	height: 100%;
	display: block;
	position: relative;
	@media screen and (max-width: 768px) {
		height: auto;
	}
}

[class*="-intro"] {
	position: relative;
}

[class*="-items"]:not(.works-items) {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* Accessibility */

.skiplinks {
	list-style: none;
    margin: 0;
}
.skiplinks a {
	display: inline-block;
	padding: 1.5rem;
	border: 3px solid $contrast;
    background-color: #fff;
	position: absolute;
	left: 0;
	top: -1000px;
	width: 250px;
	z-index: 2000;
	font-size: 2rem;
}
.skiplinks a:focus {
	top: 0;
}
