.no-scroll {
	overflow: hidden;
}

.overflow-scroll {
	overflow-y: scroll;
	@media screen and (max-width: 767px) {
		overflow-y: auto;
		overflow: visible;
	}
}

.hidden {
	display: none;
}

.invisible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
