.contact-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-hobby {
  h3 {
    margin: 1rem auto 3rem;
    color: $darkSecondary;
  }
}

.hobby {
  text-align: center;
}

.hobby-image {
  display: block;
  width: 11rem;
  height: 11rem;
  background-size: contain;
  border-radius: 50%;
  margin: 2rem auto;
  @media screen and (min-width: 768px) and (max-width: 1150px) {
    width: 10rem;
    height: 10rem;
  }
}

.games {
  background-image: url('../images/games.jpg');
}

.cats {
  background-image: url('../images/cats.jpg');
}

.toys {
  background-image: url('../images/treeson.jpg');
}

.contact-data {
  h3 {
    margin: 4rem auto 3rem;
    color: $darkSecondary;
  }
}

.contact-methods {
  text-align: center;
  padding-left: 0;
  li {
    display: inline-block;
    width: 5rem;
    margin: 2%;
  }
  a {
    color: $darkSecondary;
    &:focus,
    &:hover {
      color: $contrastSecondary;
      outline: none;
    }
  }

  i {
    transform: scale(2);

    @media screen and (max-width: 700px){
      transform: scale(1.5);
    }

  }
}
