.experience-navigation {
	width: 100%;
	text-align: center;
	margin: 3rem auto 2rem;
	li {
		display: inline-block;
		cursor: pointer;
	}
}

.exp-title {
	@extend h3;
	color: $dark;
	&:hover {
		color: $salmon;
	}
}

.exp-title-active {
	color: $salmon;
}

.experience-section-active {
	display: block;
}

.exp {
	margin-top: 5rem;
}

.exp-logo {
	margin-left: 10%;
	width: 9rem;
	height: 9rem;
	display: block;
	box-sizing: border-box;
	border: 1px dotted $salmon;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	&:hover {
		transform: scale(1.2);
		cursor: pointer;
	}
}

.exp-description {
	.exp-dates {
		font-size: 1rem;
	}
    h5 {
    	font-size: 1.5rem;
    	color: $salmon;
    	font-weight: 600;

			@media screen and (min-width: 768px) and (max-width: 991px) {
				font-size: 1.25rem;
			}
    }
	p {
		margin: 0;
		line-height: 1.3;
		font-size: 1.25rem;
	}
}


.os3 {
	background-image: url('../images/os3.png');
	background-size: 80%;
}

.coderslab {
	background-image: url('../images/coderslab.png');
	background-size: 90%;
}

.hk {
	background-image: url('../images/hk.png');
	background-size: contain;
}

.havas {
	background-image: url('../images/havas.jpg');
	background-size: 80%;
}

.neuron {
	background-image: url('../images/neuron.png');
	background-size: 80%;
}

.uj {
	background-image: url('../images/uj.png');
	background-size: contain;
}

.nowodworek {
	background-image: url('../images/nowodworek.png');
	background-size: 80%;
	margin-bottom: 5rem;
}
