.exp-title {
	margin-top: 4rem;
	text-align: center;
	font-family: 'Raleway Dots', 'Arial', sans-serif;
}

.exp {
	margin-top: 4rem;
}

.exp-logo {
	margin-left: 10%;
	width: 100px;
	height: 100px;
	display: block;
	margin-top: 1rem;
	box-sizing: border-box;
	border: 1px dotted $salmon;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	&:hover {
		transform: scale(1.2);
		cursor: pointer;
	}
}

.exp-description {
	h4 {
		font-size: 80%;
	}
    h5 {
    	font-size: 100%;
    	color: $salmon;
    	font-weight: 600;
    }
	p {
		margin: 0;
		line-height: 1.2;
		font-size: 90%;
	}
}


.os3 {
	background-image: url('../images/os3.png');
	background-size: 80%;
}

.coderslab {
	background-image: url('../images/coderslab.png');
	background-size: 90%;
}

.hk {
	background-image: url('../images/hk.png');
	background-size: contain;
}

.havas {
	background-image: url('../images/havas.jpg');
	background-size: 80%;
}

.neuron {
	background-image: url('../images/neuron.png');
	background-size: 80%;
}

.uj {
	background-image: url('../images/uj.png');
	background-size: contain;
}

.nowodworek {
	background-image: url('../images/nowodworek.png');
	background-size: 80%;
	margin-bottom: 5rem;
}

