.navigation-links {
    li {
      display: inline-block;
      text-transform: uppercase;
      margin: 5rem auto 0;
    }
}

.intro-box {
	display: block;
	box-sizing: border-box;
	padding-top: 20%;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
}
