.intro-box {
	display: block;
	box-sizing: border-box;
	padding-top: 20%;
	padding-left: 8%;
	padding-right: 6%;
	padding-bottom: 5%;
	position: relative;
	@media screen and (min-width: 768px) and (max-width: 991px) {
		padding-left: 2%;
		padding-right: 3%;
	}
}
