#introduction {
	height: auto;
    min-height: 100%;

	@media screen and (max-width: 419px){
		height: auto;
	}

    @media screen and (min-width: 420px) and (max-width: 767px){
		height: auto;
	}

	@media screen and (min-width: 500px) and (max-width: 767px) and (min-height: 600px){
		height: auto;
		min-height: 100%;
		padding-top: 15%;
	}
}

.introduction-intro {
	text-align: center;
	padding-top: 5%;
	@media screen and (min-width: 700px) and (max-width: 800px) and (min-height: 900px){
		padding-top: 20%;
	}
}

.introduction-photo {
	display: block;
	width: 28rem;
	height: 28rem;
	border-radius: 50%;
	margin: 0 auto 2rem;
	background-image: url('../images/ola.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (min-width: 360px) and (max-width: 767px){
		width: 18rem;
		height: 18rem;
		margin-top: 2rem;
	}
}

.introduction-links {
	font-size: 1.5rem;
	text-transform: uppercase;
	margin: 3rem auto 0;
	ul {
		padding-left: 0;
	}
	li {
		display: inline-block;
	}
}
