.navigation-handy {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 1000;
}

.navigation-bubble {
	display: block;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background-color: $salmon;
	box-sizing: border-box;
	position: relative;
	padding: 2.15rem 1rem;
	text-align: center;
	cursor: pointer;
	z-index: 100;
	&:focus {
		border: 0;
		outline: 0;
	}
	&:focus:not(:hover):not(:active){
		border: 1px dashed yellow;
		border-radius: 50%;
	}
}

.navigation-state {
	display: block;
	width: 3rem;
	height: 0.25rem;
	margin: 0.25rem auto;
	background-color: #fff;
	position: relative;
	content: "";
	cursor: pointer;
	&:before,
	&:after {
		display: block;
		width: 3rem;
		height: 0.25rem;
		margin: 0.25rem auto;
		background-color: #fff;
		position: relative;
		content: "";
		cursor: pointer;
	}
	&:before {
		top: -0.5rem;
	}
}

.navigation-open {
	background-color: transparent;
	transition: transform ease-in 1s;
	&:before {
		top: 0;
		transform: rotate(45deg);
	}
	&:after {
		top: -0.5rem;
		transform: rotate(-45deg);
	}
	&:hover {
		transform: rotate(360deg);
	}
}

.navigation-wrapper-visible {
  display: block;
	background-color: $salmon;
	width: calc(100% - 30px);
	height: 5rem;
	color: #fff;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 99;
	box-sizing: border-box;
	padding-left: 10%;
	border-radius: 2.5rem;

		@media screen and (max-width: 899px) {
		width: 100%;
		height: 100vh;
	  top: 0;
	  left: 0;
		border-radius: 0;
	  border-top-left-radius: 5rem;
	  z-index: 99;
	  padding: 10% 10%;
	}

	@media screen and (min-width: 360px) and (max-width: 767px) and (orientation:landscape){
		display: block;
		width: calc(100% - 30px);
		height: 30rem;
		color: #fff;
		position: fixed;
		top: 15px;
		left: 15px;
		z-index: 99;
		box-sizing: border-box;
		padding-left: 10%;
		padding-top: 7%;
		padding-bottom: 7%;
		padding-right: 0;
		border-radius: 2.5rem;
	}

  .navigation-main {
    padding-left: 0;
		width: 70%;
		float: left;

		@media screen and (max-width: 899px) {
			width: auto;
			float: none;
		}
    li {
			display: inline-block;
			text-transform: uppercase;
			font-size: 1.5rem;
			margin: 1.5rem 2rem;

			@media screen and (min-width: 900px) and (max-width: 1475px) {
				font-size: 1.25rem;
				margin: 1.75rem 2%;
			}

			@media screen and (max-width: 899px) and (orientation:portrait) {
				display: block;
				width: 100%;
				font-size: 1.75rem;
				text-align: center;
				margin: 4rem auto;
			}

			@media screen and (min-width: 360px) and (max-width: 767px) and (orientation:landscape){
				display: block;
				width: 50%;
				font-size: 1.5rem;
				margin: 2% 5%;
				float: left;
			}

    }
    a {
      color: #fff;
      &:hover {
        color: $dark;
        text-decoration: none;
      }
    }
  }
	hr {
		@media screen and (min-width: 900px) {
			display: none;
		}

		@media screen and (min-width: 360px) and (max-width: 767px) and (orientation:landscape){
			display: none;
		}
	}
  .navigation-social {
    text-align: center;
    padding-left: 0;
		width: 30%;
		float: right;

		@media screen and (min-width: 360px) and (max-width: 767px) and (orientation:landscape){
			text-align: left;
		}

		@media screen and (max-width: 899px) {
			width: auto;
			float: none;
		}

    li {
      display: inline-block;
			margin: 2rem 5%;

			@media screen and (min-width: 360px) and (max-width: 767px) and (orientation:landscape){
				margin: 4% 15%;
				display: block;
			}
    }
    i {
      color: #fff;
      transform: scale(1.5);

			@media screen and (max-width: 899px) {
			  margin: 1rem 1rem;
			}
      &:hover {
        color: $dark;
      }
    }
  }
}
