.navigation-handy {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 1000;
}

.navigation-bubble {
	display: block;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background-color: $salmon;
	box-sizing: border-box;
	position: relative;
	padding: 2.15rem 1rem;
	text-align: center;
	cursor: pointer;
	z-index: 100;
}

.navigation-state {
	display: block;
	width: 3rem;
	height: 0.25rem;
	margin: 0.25rem auto;
	background-color: #fff;
	position: relative;
	content: "";
	cursor: pointer;
	&:before,
	&:after {
		display: block;
		width: 3rem;
		height: 0.25rem;
		margin: 0.25rem auto;
		background-color: #fff;
		position: relative;
		content: "";
		cursor: pointer;
	}
	&:before {
		top: -0.5rem;
	}
}

.navigation-open {
	background-color: transparent;
	&:before {
		top: 0.125rem;
		transform: rotate(45deg);
	}
	&:after {
		top: -0.375rem;
		transform: rotate(-45deg);
	}
}

.navigation-wrapper-visible {
  display: block;
  height: 100%;
  width: 50%;
  color: #fff;
  background-color: $salmon;
  position: fixed;
  top: 0;
  left: 0;
  border-top-left-radius: 5rem;
  z-index: 99;
  padding: 8% 10%;
	@media screen and (max-width: 800px) {
		width: 100%;
	}
  .navigation-main {
    padding-left: 0;
    li {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 4rem auto;
    }
    a {
      color: #fff;
      &:hover {
        color: $dark;
        text-decoration: none;
      }
    }
  }
  .navigation-social {
    text-align: center;
    padding-left: 0;
    li {
      display: inline-block;
    }
    i {
      color: #fff;
      margin: 1rem 3rem;
      transform: scale(1.5);
      &:hover {
        color: $dark;
      }
    }
  }
}
