.skills-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: $salmon;
	margin: 2.5rem auto;

	@media screen and (max-width: 767px){
		margin: 2.5rem auto 4.5rem;
	}

	@media screen and (min-width: 768px) and (max-width: 991px){
		margin: 2rem auto 3rem;
	}
}

.skill-block {
	height: 8rem;
	box-sizing: border-box;
	width: 7rem;
	position: relative;
	p {
		font-size: 1rem;
		text-align: center;
	}

	@media screen and (max-width: 767px){
		margin-bottom: 2rem;
	}
}

.right {
	margin-left: calc(100% - 7rem);
}

.left {
	margin-right: calc(100% - 7rem);
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.skill {
	width: 5rem;
	height: 5rem;
	margin: 0 auto 0.5rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.skills-add {
	margin-top: 2rem;
	text-align: center;
	font-size: 1.25rem;
	span {
		color: $salmon;
	}
}

.html {
	background-image: url('../images/HTML.png');
}

.css {
	background-image: url('../images/CSS.png');
}

.javascript {
	background-image: url('../images/JS.jpg');
}

.jquery {
	background-image: url('../images/JQ.gif');
}

.sass {
	background-image: url('../images/SASS.png');
}

.bootstrap {
	background-image: url('../images/BOOTSTRAP.png');
}

.gulp {
	background-image: url('../images/GULP.png');
}

.git {
	background-image: url('../images/GIT.png');
}

.photoshop {
	background-image: url('../images/PS.png');
}

.susy {
	background-image: url('../images/SUSY.png');
}
