.skills-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills-title {
	margin: 2.5rem auto;
	color: $darkTertiary;

	@media screen and (max-width: 767px){
		margin: 2.5rem auto 4.5rem;
	}

	@media screen and (min-width: 768px) and (max-width: 991px){
		margin: 2rem auto 3rem;
	}
}

.skills-list {
	list-style-type: none;
	padding-left: 0;
}

.skill-block {
	margin: 1rem auto;
	position: relative;
	p {
		font-size: 1rem;
		text-align: center;
	}

	@media screen and (max-width: 767px){
		margin-bottom: 2rem;
	}
}

.skill {
	width: 4rem;
	height: 4rem;
	margin: 0 auto 0.5rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.skills-add {
	margin-top: 2rem;
	text-align: center;
	font-size: 1.25rem;
	span {
		color: $contrast;
	}
}

.html {
	background-image: url('../images/HTML.png');
}

.css {
	background-image: url('../images/CSS.png');
}

.javascript {
	background-image: url('../images/JS.jpg');
}

.jquery {
	background-image: url('../images/JQ.gif');
}

.sass {
	background-image: url('../images/SASS.png');
}

.bootstrap {
	background-image: url('../images/BOOTSTRAP.png');
}

.gulp {
	background-image: url('../images/GULP.png');
}

.git {
	background-image: url('../images/GIT.png');
}

.photoshop {
	background-image: url('../images/PS.png');
}

.foundation {
	background-image: url('../images/yeti.png');
}

.angular {
	background-image: url('../images/angular.png');
}